[submodule "xkMath"]
	path = xkMath
	url = https://github.com/XeroKimo/xkMath
[submodule "TypedD3D"]
	path = TypedD3D
	url = https://github.com/XeroKimo/TypedD3D
[submodule "ExceptionHierarchy"]
	path = ExceptionHierarchy
	url = https://github.com/XeroKimo/ExceptionHierarchy
[submodule "MoWin2"]
	path = MoWin2
	url = https://github.com/XeroKimo/MoWin2
[submodule "xkDearImGUIpp"]
	path = xkDearImGUIpp
	url = https://github.com/XeroKimo/xkDearImGUIpp
